.hero-container {
  margin-left: 80px;
  margin-right: 80px;
}
.custom-button {
  display: inline-flex;
  align-items: center;
  padding: 4px 10px 4px 4px;
  border: 1px solid rgba(230, 63, 58, 0.5);

  border-radius: 16px;
  background-color: #f8e4e4;
  color: #e63f3a;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.feature-badge {
  display: inline-block;
  padding: 0.1rem 0.5rem;
  background-color: #ffffff;
  color: #e63f3a;
  border: 1px solid rgba(230, 63, 58, 0.5);
  border-radius: 20px;
  margin-right: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
}
.button-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}
.button-text {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.arrow {
  margin-left: 0.5rem;
  transition: margin-left 0.3s ease;
}

.custom-button:hover {
  background-color: #f8e4e4;
  color: #dd3f2a;
  border-color: #f7c2c2;
}

.custom-button:hover .arrow {
  margin-left: 1rem;
}
.txt-container {
  margin-top: 16px;
  margin-bottom: 24px;
}
.heading {
  font-weight: 600;
  font-size: 50px;
  color: rgba(16, 24, 40, 1);
  line-height: 72px;
  margin-top: 16px;
  margin-bottom: 10px;
}

.hero-container p {
  margin-top: 24px;
  margin-left: 128px;
  margin-right: 128px;
  font-size: 20px;
  color: rgba(71, 84, 103, 1);
  font-weight: 400;
  line-height: 30px;
}
button.button-demo {
  display: flex;
  color: rgba(52, 64, 84, 1);
  font-weight: 600;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 1);
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 114px;
  border-color: 1px solid rgba(208, 213, 221, 1);
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  width: 114px;
  height: 48px;
}
button.button-demo:hover {
  background: white;
  color: black;
  background-color: #cfcfcf;
}
.button-icon {
  width: 20px;
  color: rgba(52, 64, 84, 1);
  height: 20px;
  display: flex;
  align-items: center;
}
button.button {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  background-color: rgba(230, 63, 58, 1);
  color: white;
  border-radius: 108px;
  border: 1px solid rgba(230, 63, 58, 1);
  width: 114px;
  height: 48px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
}
button.button:hover {
  background-color: #f05757;
}
@media (max-width: 768px) {
  .hero-container {
    margin-left: 16px;
    margin-right: 16px;
  }
  .heading {
    font-weight: 600;
    font-size: 36px;
    color: rgba(16, 24, 40, 1);
    line-height: 44px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .hero-container p {
    font-size: 18px;
    color: rgba(71, 84, 103, 1);
    font-weight: 400;
    line-height: 28px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .button-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }

  .custom-button {
    display: inline-flex;
    align-items: center;
    padding: 4px 10px 4px 4px;
    border: 1px solid rgba(230, 63, 58, 0.5);
    width: 307px;
    height: 30px;
    border-radius: 16px;
    background-color: #f8e4e4;
    color: #e63f3a;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .custom-button span {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
  .feature-badge {
    display: inline-block;
    padding: 2px 8px 2px 8px;
    background-color: #ffffff;
    color: #e63f3a;
    border: 1px solid rgba(230, 63, 58, 0.5);

    width: 87px;
    height: 22px;
    border-radius: 16px;
    margin-right: 0.5rem;
    font-weight: 500;
    font-size: 0.875rem;
  }

  .button-text {
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  .arrow {
    margin-left: 0.5rem;
    transition: margin-left 0.3s ease;
  }

  .custom-button:hover {
    background-color: #f8e4e4;
    color: #dd3f2a;
    border-color: #f7c2c2;
  }

  .custom-button:hover .arrow {
    margin-left: 1rem;
  }

  button.button-demo {
    display: flex;
    width: 343px;
    height: 48px;
    border-radius: 48px;
    border: 1px solid rgba(208, 213, 221, 1);
    gap: 8px;
    color: rgba(52, 64, 84, 1);
    font-weight: 600;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 1);
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    order: 2;
  }
  button.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    background-color: rgba(230, 63, 58, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 48px;
    border: 1px solid rgba(230, 63, 58, 1);
    width: 343px;
    height: 48px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    gap: 8px;
    order: 1;
  }
  button.button:hover {
    background-color: #f05757;
  }
}
