.social-desktop {
  display: block;
  width: 80%;
  height: 600px;
}
.social-mobile {
  display: none;
}
.para {
  font-size: 20px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.logo {
  height: 50px;
  width: 75%;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .social-desktop {
    display: none;
  }

  .social-mobile {
    display: block;
  }
}
