.social-container {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 64px;
  padding-right: 32px;
  padding-left: 32px;
  border-bottom: 1px solid rgba(234, 236, 240, 1);
}

.social-desktop {
  display: block;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}
.social-mobile {
  display: none;
}
.para {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: rgba(71, 84, 103, 1);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.logo-container {
  display: flex;
  margin-top: 32px;
  gap: 27.2px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 96px;
  justify-content: space-between;
}

.logos img {
  height: 48px;
  width: 170px;
}
@media (max-width: 768px) {
  .social-desktop {
    display: none;
  }

  .social-mobile {
    display: block;
  }
}
