.social-container {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 64px;
  padding-right: 32px;
  padding-left: 32px;
  border-bottom: 1px solid rgba(234, 236, 240, 1);
}

.social-desktop {
  height: -webkit-fill-available;
  max-width: -webkit-fill-available;
}
.social-mobile {
  display: none;
}
.social-container p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: rgba(71, 84, 103, 1);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.logo-container {
  display: flex;
  margin-top: 32px;
  gap: 27.2px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 96px;
  justify-content: center;
}

.logos img {
  height: 48px;
  width: 170px;
}
@media (max-width: 768px) {
  .social-container {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 64px;
    margin-bottom: 64px;
    padding: 0 0 0 0;
    border-bottom: 1px solid rgba(234, 236, 240, 1);
  }
  .social-desktop {
    display: none;
  }

  .social-mobile {
    display: block;
    height: 194px;
    max-width: 343px;
  }

  .social-container p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgba(71, 84, 103, 1);
    text-align: center;
    margin-top: 64px;
    margin-bottom: 32px;
  }
  .logo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 32px;
    gap: 16px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 64px;
    justify-content: space-evenly;
  }
  .logos img {
    height: 36px;
    width: 127.5px;
  }
}
