.container1 {
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 96px;
  padding-right: 32px;
  padding-left: 32px;
}

.card-body h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: rgba(16, 24, 40, 1);
  margin-bottom: 8px;
}
.card-body p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(71, 84, 103, 1);
  margin-bottom: 32px;
}
.groupimg {
  width: 100px;
  height: 50px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.button2 {
  background-color: rgba(230, 63, 58, 1);
  border: 1px solid rgba(230, 63, 58, 1);
  border-radius: 8px;
  width: 134px;
  height: 48px;
  padding: 12px 20px 12px 20px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 2px;
  margin-bottom: 32px;
}
.button2:hover {
  background-color: #f05757;
}

.card-container {
  margin-left: 32px;
  margin-right: 32px;
  border-radius: 16px;
  background-color: rgba(249, 250, 251, 1);
}
@media (max-width: 768px) {
  .container1 {
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
    align-items: center;
    margin-bottom: 64px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .card-container {
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 16px;
    background-color: rgba(249, 250, 251, 1);
    padding: 32px 20px 32px 20px;
  }
  .groupimg {
    width: 120px;
    height: 56px;
    margin-top: 0px;
    margin-bottom: 24px;
  }
  .card-body p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(71, 84, 103, 1);
    margin-bottom: 24px;
  }
}
