.footer-container {
  background-color: rgba(255, 255, 255, 1);
  margin-left: 80px;
  margin-right: 80px;
}
.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: 32px;
  margin-right: 32px;
}
.section h5 {
  color: rgba(102, 112, 133, 1);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.nav-item .link1 {
  color: rgba(71, 84, 103, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.main-logo {
  height: 32px;
  width: 84.61px;
  margin-top: 32px;
}
.company-details {
  display: flex;
}

.company-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 64px;
}

.company-details p {
  color: rgba(102, 112, 133, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 36px;
  margin-bottom: 4px;
}
