.company {
  margin-bottom: 32px;
  height: 40px;
  width: 140.83px;
}

.profile-wu {
  height: 64px;
  width: 64px;
  margin-bottom: 16px;
}
.testimonial {
  background-color: rgba(249, 250, 251, 1);
  border-top: 1px solid #ddd;
  border-bottom: 1px solid rgba(249, 250, 251, 1);
}
.test-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 96px;
  margin-bottom: 96px;
}
.test-container h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  color: rgba(16, 24, 40, 1);
  margin-bottom: 32px;
}

.test-container h4 {
  color: rgba(16, 24, 40, 1);
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
.test-container p {
  color: rgba(71, 84, 103, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 768px) {
  .test-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .test-container h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
    color: rgba(16, 24, 40, 1);
    margin-bottom: 32px;
  }
}
