.custom-button {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 2px solid #f7c2c2;
  border-radius: 25px;
  background-color: #f8e4e4;
  color: #dd3f2a;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.feature-badge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background-color: #f8e4e4;
  color: #dd3f2a;
  border: 2px solid #f7c2c2;
  border-radius: 20px;
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: 0.875rem;
}

.button-text {
  display: flex;
  align-items: center;
}

.arrow {
  margin-left: 0.5rem;
  transition: margin-left 0.3s ease;
}

.custom-button:hover {
  background-color: #f8e4e4;
  color: #dd3f2a;
  border-color: #f7c2c2;
}

.custom-button:hover .arrow {
  margin-left: 1rem;
}

.heading {
  font-weight: 600;
  font-size: 50px;
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
}
.para {
  color: grey;
  margin-top: 0;
  margin-bottom: 20px;
}
button.button1 {
  display: flex;
  color: black;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 30px;
}
button.button1:hover {
  background: white;
  color: black;
  background-color: #cfcfcf;
}
.button-icon {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}
button.button {
  background-color: #dd3f2a;
  color: white;
  border-radius: 30px;
  border: 1px solid #f7c2c2;
}
button.button:hover {
  background-color: #f05757;
}
