.custom-button {
  display: inline-flex;
  align-items: center;
  padding: 0.2rem 0.2rem;
  border: 2px solid #f7c2c2;
  border-radius: 25px;
  background-color: #f8e4e4;
  color: #dd3f2a;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.feature-badge {
  display: inline-block;
  padding: 0.1rem 0.5rem;
  background-color: #f8e4e4;
  color: #dd3f2a;
  border: 2px solid #f7c2c2;
  border-radius: 20px;
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: 0.875rem;
}

.button-text {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.arrow {
  margin-left: 0.5rem;
  transition: margin-left 0.3s ease;
}

.custom-button:hover {
  background-color: #f8e4e4;
  color: #dd3f2a;
  border-color: #f7c2c2;
}

.custom-button:hover .arrow {
  margin-left: 1rem;
}

.heading {
  font-weight: 600;
  font-size: 50px;
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
}
.para {
  color: grey;
  margin-top: 0;
  margin-bottom: 20px;
}
button.button-demo {
  display: flex;
  color: black;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 30px;
}
button.button-demo:hover {
  background: white;
  color: black;
  background-color: #cfcfcf;
}
.button-icon {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}
button.button {
  background-color: #dd3f2a;
  color: white;
  border-radius: 30px;
  border: 1px solid #f7c2c2;
}
button.button:hover {
  background-color: #f05757;
}
@media (max-width: 768px) {
  .heading {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
  }

  .para {
    font-size: 0.9rem;
  }

  .button-group {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    justify-content: center;
    align-items: center;
    gap: 1rem; /* Space between buttons */
  }

  .button-demo,
  .btn {
    width: 100%; /* Full-width buttons */
  }
}
